/* project styles */

.myProject {
    height: 1024px;
    background-color: #03000C;
}

.projectContent {
    padding-top: 155px;
}

.projectContent>h2 {
    color: white;
    font-family: Public Sans, sans-serif;
    font-size: 55px;
    text-align: center;
    margin-bottom: 57px;
}

.projectContent>hr {
    width: 80%;
    margin: auto;
}

.projectContent>p {
    width: 1021px;
    color: white;
    font-family: Public Sans, sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin: auto;
    padding-top: 155px;
    padding-bottom: 71px;

}

.projectContent>p>.coloredText {
    color: #F45004;
}

.projectCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.counterBox {
    width: 367px;
    height: 237px;
    background-color: #1F160F;
    border: 1px solid #FBBB43;
    padding: 20px 0;
}

.counterBox>h1 {
    text-align: center;
    color: #A2480C;
    font-family: Public Sans, sans-serif;
    font-size: 70px;
    margin-bottom: 20px;
}

.counterBox>p {
    text-align: center;
    color: white;
    font-family: Public Sans, sans-serif;
    font-size: 35px;
    font-weight: 600;
    max-width: 90%;
    margin: auto;
}

.counterBox>p>.coloredText {
    color: #CA8A12;
}

