/* Contact Info Style */
.contactInfo {
    height: 1024px;
    background-color: #020517;
}

.contactInfo>hr {
    position: relative;
    top: 60px;
    width: 80%;
    height: 1px;
    margin: auto;
    background: linear-gradient(270deg, #AF7E03, #804400);
    border: none;
}

.contactInfoLayout {
    padding-top: 162px;
    display: flex;
    width: 80%;
    margin: auto;
    font-family: Public Sans, sans-serif;
    font-size: 50px;
    font-weight: 600;
    gap: 393px;
}

.contactInfoLayout>h2 {
    color: white;
}

.itemLine {
    width: 2px;
    height: 720px;
    background-color: white;
}

.orbLine {
    position: relative;
}

.orb {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    width: 20px;
    height: 20px;
}

.orb1 {
    position: absolute;
    top: 20%;
    left: -9px;
}

.orb2 {
    position: absolute;
    top: 50%;
    left: -9px;
}

.orb3 {
    position: absolute;
    top: 80%;
    left: -9px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #211D1B;
    border: 1px solid #A15E00;
    border-radius: 10px;
    width: 252px;
    height: 110px;
}

.item1 {
    position: relative;
    top: 13.5%;
    left: 60px;
}

.item2{
    position: relative;
    top: 28.5%;
    left: -310px;
}

.item3 {
    position: relative;
    top: 43.5%;
    left: 60px;
}

.item>p {
    width: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
}