/* get in touch styles */

.getInTouch {
    height: 1024px;
    background-color: #010000;
}

.getInTouch>h1 {
    padding-top: 88px;
    padding-bottom: 29px;
    color: white;
    font-family: Playfair Display, sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-left: 165px;
}

.inTouchLayout {
    display: flex;
    width: 1181px;
    height: 673px;
    margin: auto;
    background-color: #180F03;
    border: 1px solid #AF6C00;
    border-radius: 10px;

}

.inTouchLayout>form {
    width: 1071px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 55px;
    row-gap: 54px;
}

.inTouchLayout>form>.firstName {
    background-color: #080500;
    border: 1px solid #301F00;
    height: 60px;
}

.inTouchLayout>form>.lastName {
    background-color: #080500;
    border: 1px solid #301F00;
    height: 60px;
}

.inTouchLayout>form>.email {
    grid-column: span 2;
    background-color: #080500;
    border: 1px solid #301F00;
    height: 60px;
}

.inTouchLayout>form>.message {
    grid-column: span 2;
    background-color: #080500;
    border: 1px solid #301F00;
    height: 278px;
}