/* protofolio content */
.portofolioContent {
    height: 1024px;
    background-color: #DDD9D6;
}

.portofolioContent>h1 {
    color: #C2A379;
    font-family: Public Sans, sans-serif;
    font-size: 150px;
    font-weight: bold;
    text-align: center;
    padding-top: 159px;
    margin-bottom: 10px;
}

.porto {
    width: 814px;
    height: 500px;
    background-color: #000000;
    margin-left: 44px;
}