/* introduction styles */

.introduction{
    width: 100%;
    height: 1024px;
    background: linear-gradient(315deg, rgba(90, 30, 2, 1)0%, rgba(139, 47, 5, 0.5)16%, rgba(42, 15, 3, 0)56%);
}

.introductionLayout{
    display: grid;
    grid-template-columns: 60% 40%;
}

.judul {
    padding-left: 140px;
    padding-top: 401px;
    width: 100%;
}

.introduction>.introductionLayout>.judul>p {
    color: white;
    font-size: 50px;
    font-family: Public Sans, sans-serif;
    padding-left: 10px;
    margin:0;
}

.introduction>.introductionLayout>.judul>.nameIntro {
    color: white;
    font-size: 90px;
    font-family: Public Sans, sans-serif;
    font-weight: 700;
    margin: 0;
}

.introduction>.introductionLayout>.judul>.roleIntro{
    color: white;
    font-size: 80px;
    font-family: Public Sans, sans-serif;
    font-weight: normal;
    margin: 0;
}

.gradientBrownName {
    background: linear-gradient( 90deg, #F68300, #691E00);
    background-clip: text;
    color: transparent;

}

.gradientBrownRole {
    background: linear-gradient( 90deg, #F68300, #691E00);
    background-clip: text;
    color: transparent;
    font-weight: 500;
    font-style: italic;

}

.squareLayout {
    overflow: hidden;
}

.square {
    position: relative;
    top: 326px;
    left: 100px;
    width: 736px;
    height: 406px;
    border: 15px solid #6A320C; 
    
}

.buttonLayout {
    display: flex;
    padding-top: 53px;
    gap: 28px;
}

.contactBtn {
    width: 182px;
    height: 55px;
    border-radius: 40px;
    background-color: #23140D;
    border: 1px solid #7F4707;
    color: white;
    font-family: Public Sans, sans-serif; 
    font-size: 30px;
    font-weight: 200;
    
}

.sertifBtn {
    width: 291px;
    height: 55px;
    border-radius: 40px;
    background-color: #000000;
    border: 1px solid #747474;
    color: white;
    font-size: 30px;
    font-family: Public Sans, sans-serif;
    font-weight: 200;

}